# Folders
.vscode/*
!.vscode/extensions.json
!.vscode/extensions
!.vscode/settings.json
node_modules
dist
dist-ssr
logs
databases
ssl
.select
.old
generated
release
gen
target
__pycache__
build/*
!build/studio
!build/userdata
!build/config.toml
!build/index.html
downloads
cache
.cache

# Files
.idea
.DS_Store
notes.md
package-lock.json
Cargo.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
__init__.py

# Extensions
*.env
!config.env
*.log
*.ini
*.lnk
*.local
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.spec